
__pycache__/Chart.cpython-311.pyc
*.pyc
Testdaten/Fixkosten.csv
Testdaten/Unterwegs_01.csv
Testdaten/Unterwegs_02.csv
Testdaten/Unterwegs_03.csv
Testdaten/Unterwegs_04.csv
Testdaten/Unterwegs_05.csv
Testdaten/Unterwegs_06.csv
Testdaten/Unterwegs_07.csv
Testdaten/Unterwegs_08.csv
Testdaten/Unterwegs_09.csv
Testdaten/Unterwegs_10.csv
Testdaten/Unterwegs_11.csv
Testdaten/Unterwegs_12.csv
Testdaten/Unterwegs_13.csv
ui_build.py
release/release.zip
